<!DOCTYPE html>
<html>
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
    <body>
        <!-- introductory paragraph about me-->
            <div id="wrapper">  
                <div class="jumbotronfluid">
                    <div class="container">
                        <h3 class="display-4">About Me</h3>
                        <p class="lead">Hello! My name is Fatima Kaleem, I'm in Networking & IT Security
                        and enjoy learning about programming in Mr. Sheikh's lectures. Some of my hobbies
                        include; playing badminton, skating, kayaking and gaming. Some acheivments that I've
                        aquired are completing my CCNA, which is a certificate for routing and switching networks.
                        Recently I attended a cybersecurity capture the flag event hosted by SunLife. This experience
                        taught me alot about cybersecurtiy professionals and how they perform in their fields.</p>
                    </div>
                </div>
            </div> 

        <!-- inputting image and video while configuring autplay and using dimensions-->
            <div class = "row">
                <div class = "column">
                    <img src= Assets/me.jpg alt="Me" style="width:400px;height:290px;">
                </div>
                </div class = column>
                <video src = Assets/zoro.mp4 width="500" height="600" controls autoplay muted></video>
                </div>
    </body>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>
</html>