<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<html>
    <body>
        <div id = "wrapper">
        <img src="sky.jpg" alt="sky" style="width:400px;height:250px;">
        </div>
    </body>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>