<html>
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
    <main>
        <div id = "hwrapper">
            <img src="public/Assets/sky.jpg" alt="sky" style="width:400px;height:250px;">
        </div>
    </main>

<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>
</html>