<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!--css files-->
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel ='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>
  </head>
  <body>
  <!-- nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fatima Kaleem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/Home"> <i class="fa-solid fa-house-crack"></i>Home</a></li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/AboutMe"><i class="fa-solid fa-person-dress"></i></i>About Me</a></li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/Projects"><i class="fa-solid fa-list-check"></i>Projects</a></li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/ContactMe"><i class="fa-solid fa-paper-plane"></i></i>Contact Me</a></li>

        
    </div>
  </div>
</nav>
<main>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</main>
    <h1><%= title %></h1>

    <!--script files--->
    <script src = "/Scripts/app.js"></script>
    <script src = /bootstrap/dist/js/bootstrap.min.js></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
  </body>
</html>
