<html>
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel ='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>

    <main>
        <div class="jumbotronfluid">
            <div id = jumbotronfluiid>
            <div class="container">
                    <h1 class="display-4">SQL Project</h1>
                    <p class="lead">In this project we used SQL lite to make a game.
                    The game was called hangman and made in python. In this game we coded using SQL 
                    platform and incorporated it with python by using a collab drive. </p>
                </div>
            </div>
        </div>
        <div class="jumbotronfluid">
            <div id = "jumbotronfluid">
                <div class="container">
                    <h1 class="display-4">HTML/CSS Project</h1>
                    <p class="lead">In this project I created a website using HTML & CSS. 
                    This website was made to be a professhional portfoilo about me.</p>
                </div>
            </div>
        </div>
        <div class="jumbotronfluid">
            <div id = "jumbotronfluiid">
                <div class="container">
                    <h1 class="display-4">Restaurant Reservation System</h1>
                    <p class="lead">In this project I was required to create a restaurant reservation
                    system using python with databases. I followed Object-Oriented Programming concepts
                    when writing the programming</p>
                </div>
            </div>
        </div>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>
</html>