<html>
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel ='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">SQL Project.</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">Website Project</p>
            </div>
        </div>
    </main>
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>
</html>