<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8"> 
        <title>Fatima Kaleem's Portfolio</title> 
        <link href="style.css" rel="stylesheet" type="text/css"> 
        <!-- full-size monitor style sheet-->
        <link href="pc.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
        <!-- tablet style sheet-->
        <link href="tablet.css" rel="stylesheet" type="text/css" media="only screen and (min-width:481px) and (max-width:960px)">
        <!-- phone style sheet-->
        <link href="mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)">
    </head>
        <body> 
            <div id="left-column">  
                <ul id="nav"> 
                <p> <b><a href="index.html">Home</a></b></p>
                <p> <b><a href="AboutMe.html">About Me</a></b></p> 
                <p> <b><a href="Project.html">Projects</a></b></p> 
                <p> <b><a href="ContactMe.html">Contact Me</a></b></p>  
                </ul> 
                </div> 
          <!-- introductory paragraph about me-->
        <div id="wrapper"> 
        <h1>About Me</h1> 
        <h4>Hello! My name is Fatima Kaleem, im in Networking & IT security, and enjoy learning
            about programming in Mr. Sheikh's class. Some of my hobbies include; playing badminton,
            skating, kayaking, and gaming! Some achievements that I've aquired are completing my CCNA, 
            which is a certificate for routing & switching networks. Recently I attended a cybersecurity
            capture the flag event hosted by SunLife. This experience taught me alot about cybersecurity 
            profeshionals and the work they do. 
        </h4>
            <!-- inputting image and video while configuring autplay and using dimensions-->
        <img src="me.jpg" alt="Me" style="width:400px;height:250px;">
        <video width="400" height="250" controls autoplay muted> 
            <source src="zoro.mp4" type="video/mp4">
            <p><input type="play" value="Play Video"/></p>
        </video>
        </div> 
        </body>