body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.nav-link {
  color: lightblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

a.hover{
  text-shadow:  3px 3px 10px darkblue;
  opacity: 5px;
}

a.visited{
  color: lightblue;
  text-decoration: underline;
}

.bg-dark{
  color: green;
}

#wrapper{
  color: black;
  text-align: center;
  border-radius: 100px;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightblue;
  
}

#fwrapper{
  color: darkblue;
  text-align: center;
  border-radius: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightblue;
  padding: 250px;
}
  
#jumbotronfluid{
  text-align: center;
  background-color: lightblue;
  border-radius: 20px;
}

#jumbotronfluiid{
  text-align: center;
  border-radius: 20px;
  background-color: lightsteelblue;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#images{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#vid{
  float:left;
  width: 33.33%;
  padding: 5px;
}